body { 
    background-color: #fff;
}

p {
    color: #000;
    line-height: 2rem;
    font-size: 20px;
      
}

#container {
    font-family: 'Arial', Helvetica, sans-serif;
    line-height: 25px;
}

h1 { 
    font-size: 40px;
    font-weight: bold;
    line-height: 3rem;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 2rem;
}
